*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.input-box{
	border: none;
	outline: none;
	background: #A0A0A069;
	padding: 12px;
	margin: 10px;
	border-radius: 20px;
}

textarea{
	font-family: "Averia Libre", system-ui;
	width: 85%;
	height: 260px;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="text"],
input[type="email"]
{
	width: 85%;
}

input[type="email"]
{
	color: #3667EF;
	margin-bottom: 3px;
}


#error{
	font-size: 10pt;
	font-weight: 400;
	margin-right: 30%;
}